// coolors.com
/* SCSS HEX */
$poppy: #da2c38ff;
$dark-spring-green: #226f54ff;
$pistachio: #87c38fff;
$lemon-chiffon: #f4f0bbff;
$bistre: #43291fff;

$primary-color :#43291fff;
$seconday-color:#da2c38ff;
$background-footer:#226f54ff;
$text-color: white;
$text-hover : white;




